* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 20px comic;
}

h2 {
    font-size: 35px;
    font: bold 35px comic;
}
div {
    margin-left: auto;
    margin-right: auto;
}


body {
    text-align: center;
}

#contenedor {
    width: 960px;
    margin: 15px auto;
    text-align: center;
} 

#cabecera {

    padding: 20px;
}
#menu {
   
    padding: 5px 15px;
}

#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
}

#seccion {
    padding: 10px;
    background: rgb(32, 32, 32);
    color: white;
    float: left;
    width: 900px;
    height: 200px;
    margin: 20px;
    clear: both;
    text-align: left;
}
#leer {
    color: white;
    text-decoration: none;
}
.leer2 {
    text-decoration: none;
}
#apple {
    height: 200px;
    width: 250px;
    float: left;
    clear: both;
    background: white;
    color: black;
}
#Linux {
    height: 200px;
    width: 250px;
    float: left;
    vertical-align: center;
    background: white;
    color: black;
}
#dedo {
    background: rgb(75, 75, 75);
    color: white;
    width: 100px;
    height: 200px;
    float: right;
}

#pie {
    clear: both;
    text-align: center;
    border-top: 2px solid #999999;
    text-decoration: none;
}