a, p {
    font-size: 18px;
}

div a {
    color: red;
}

div#Capa1 {
    background: blue
}

.letraGrande {
    font-size: 22px;
}

.nosubrayado {
    text-decoration: none;
}

div#Capa1 a.encima:hover {
    background: gray;
}

p#miparrafo:first-line {
    color: blue;

}

div#Capa1 * {
    background: yellow;          
}

div > a {
    font-style: italic; 
}
div.capa2 {
    border: 1px solid black
}

a[href^="https"] {
    color: orange;
}
a[href$="pdf"] {
    color: green
}

p[align="center"] {
    background: blue
}

div + p  {
    font-size: 50px
}
